// Calendar Background
#calendar, #calendar-bg {
    position: fixed;
    font-weight: 300;
}
#calendar-bg {
    background-color: rgba(0,0,0,.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease 0.4s;
    -webkit-transition: opacity 0.4s ease, visibility 0.4s ease 0.4s;
    // When active
    &.date-select-active {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.4s ease, visibility 0.4s ease;
        -webkit-transition: opacity 0.4s ease, visibility 0.4s ease;
    }
}

// Calendar Body
#calendar {
    width: 280px;
    border-radius: $border-radius;
    background-color: $white;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    -webkit-transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s ease 0.4s;
    -webkit-transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s ease 0.4s;
    // When active
    &.date-select-active {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s ease;
        -webkit-transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s ease;
    }
}
#calendar-header {
    padding: 2rem 1rem;
    background-color: $primary-color;
    color: $white;
    font-size: 1.5rem;
    text-align: center;
    border-radius: .25rem .25rem 0 0;
    #current-selected-year {
        display: block;
    }
}

// Previous & next buttons for choosing a date
#calendar-selection {
    div {
        float: left;
    }
    #previous-month, #next-month {
        width: 20%;
        height: 36px;
        position: relative;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            border-left: 1px solid $grey;
            border-bottom: 1px solid $grey;
            top: 14px;
            left: .875rem;
        }
    }
    #previous-month:before {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    }
    #next-month:before {
        left: auto;
        right: .875rem;
        transform: rotate(225deg);
        -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
    }
    #calendar-listed-date {
        width: 60%;
        height: 36px;
        line-height: 36px;
        text-align: center;
        color: $grey;
    }
    #calendar-listed-date span {
        cursor: pointer;
    }
}

// Shared font sizes
.calendar-box, .calendar-box:visited, #calendar-listed-date, #current-selected-year, #calendar-footer a {
    font-size: .875rem;
}

// Calendar container that holds selectable dates, selectable years, selectable months, etc.
#calendar-wrap {
    position: relative;
    #calendar-select-months, #calendar-select-years {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: $white;
        overflow-x: hidden;
        overflow-y: auto;
        line-height: 36px;
        padding: 1rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s ease, visibility 0.4s ease 0.4s;
        -webkit-transition: opacity 0.4s ease, visibility 0.4s ease 0.4s;
        a, a:visited, a:focus {
            color: $font-color;
            display: block;
        }
        a:hover {
            color: $primary-color;
        }
    }
    #calendar-select-months.select-month, #calendar-select-years.select-year {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.4s ease, visibility 0.4s ease;
        -webkit-transition: opacity 0.4s ease, visibility 0.4s ease;
    }
}

// Calendar Days / Selectable Dates
#calendar-days .calendar-box {
    font-size: .65rem;
    font-weight: 400;
    cursor: text;
}
.calendar-box, .calendar-box:visited {
    width: 14.2857142857%;
    float: left;
    min-height: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-top: 1px solid $light-grey;
    cursor: pointer;
    color: $font-color;
    outline: none;
    &#selected-date {
        background-color: $primary-color;
        color: $white;
    }
    &[data-available=false] {
        background-color: #f2f3f3;
        cursor: not-allowed !important;
    }
}
a.calendar-box:focus {
    color: $primary-color;
    outline: none;
}
a.calendar-box:hover {
    color: $primary-color;
}

// Calendar Footer
#calendar-footer {
    display: flex;
    border-top: 1px solid $light-grey;
    a, a:visited {
        line-height: 36px;
        color: $grey;
        display: block;
        padding: 0 .875rem;
    }
    #calendar-clear {
        margin-left: auto;
    }
}
@media #{$l-and-up} {
    #calendar {
        width: 520px;
    }
    #calendar-header {
        padding: 3rem 1rem;
        font-size: 1.75rem;
    }
    #calendar {
        #calendar-select-months a, #calendar-select-years a, #previous-month, #next-month, #calendar-listed-date, .calendar-box, #calendar-footer a, #calendar-footer a:visited {
            line-height: 48px;
            height: 48px;
        }
        #previous-month:before, #next-month:before {
            top: 20px;
        }
    }
}
