// Range inputs
// ============================================================ //
.origamiRange {
    font-weight: 300;
    color: $label-color;
}
input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 10px 0;
    width: 100%;
    transition: $transition-speed;
    -webkit-transition: $transition-speed;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #000000;
    background: $form-border-color;
    border-radius: 6px;
    border: none;
    transition: $transition-speed;
    -webkit-transition: $transition-speed;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #000000;
    border: 1px solid $form-border-color;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: $white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: $secondary-color;
    box-shadow: inset 0 -3px 3px 0px rgba(0,0,0,.2);
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #000000;
    background: $form-border-color;
    border-radius: 6px;
    border: none;
    transition: $transition-speed;
}
input[type=range]:focus::-moz-range-track {
    background: $secondary-color;
    box-shadow: inset 0 -3px 3px 0px rgba(0,0,0,.2);
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #000000;
    border: 1px solid $form-border-color;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: $white;
    cursor: pointer;
}
// Microsoft
input[type=range]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: $form-border-color;
    border: 0px solid #000;
    border-radius: 6px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #000;
}
input[type=range]::-ms-fill-upper {
    background: $form-border-color;
    border: 0px solid #000;
    border-radius: 6px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #000;
    transition: $transition-speed;
    -webkit-transition: $transition-speed;
}
input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 1px solid $form-border-color;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: $white;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: $secondary-color;
    box-shadow: inset 0 -3px 3px 0px rgba(0,0,0,.2);
}
input[type=range]:focus::-ms-fill-upper {
    background: $secondary-color;
    box-shadow: inset 0 -3px 3px 0px rgba(0,0,0,.2);
}
