// Form element container
.form-element {
    position: relative;
    margin-bottom: 1rem;
}
.helper-text {
    font-size: .625rem;
    font-weight: 300;
    color: $label-color;
    display: block;
    padding-top: 4px;
    padding-left: 2px;
}

// Text Input
// ============================================================ //
.form-element input:not([type=submit]):not([type=radio]):not([type=checkbox]):not([type=range]):not([type=file]),
.form-element textarea,
.form-element select {
    font-size: inherit;
    font-weight: inherit;
    font-weight: 400;
    font-family: $font-stack;
    color: $font-color;
    line-height: 1.4em;
    height: 56px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 18px 16px 0;
    text-align: left;
    border: 1px solid $form-border-color;
    border-radius: $border-radius;
    background: $form-element-bg;
    background-clip: padding-box;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: $transition-speed-fast;
    -webkit-transition: $transition-speed-fast;
}
select::-ms-expand {
    display: none;
}

// label - non-active
.form-element input:not([type=submit]):not([type=radio]):not([type=checkbox]):not([type=range]):not([type=file])+label,
.form-element textarea+label,
.form-element select+label {
    position: absolute;
    top: 16px;
    left: 17px;
    font-weight: 300;
    color: $label-color;
    transition: $transition-speed-fast;
    -webkit-transition: $transition-speed-fast;
}
.col {
    &.form-element input:not([type=submit]):not([type=radio]):not([type=checkbox]):not([type=range]):not([type=file])+label,
    &.form-element textarea+label,
    &.form-element select+label {
        left: $gutter-size / 2 + 17;
    }
}
.no-js {
    .form-element input:not([type=submit]):not([type=radio]):not([type=checkbox]):not([type=range]):not([type=file])+label,
    .form-element textarea+label,
    .form-element select+label {
        top: 8px !important;
        font-size: 10px !important;
    }
}

// Active states
.form-element input:not([type=submit]):not([type=radio]):not([type=checkbox]):not([type=range]):not([type=file]):focus,
.form-element textarea:focus,
.form-element select:focus {
    border-color: $primary-color;
}
.form-element input:not([type=submit]):not([type=radio]):not([type=checkbox]):not([type=range]):not([type=file]):focus+label,
.form-element textarea:focus+label,
.form-element select:focus+label,
.form-element input:not([type=submit]):not([type=radio]):not([type=checkbox]):not([type=range]):not([type=file]):focus+label.active,
.form-element textarea:focus+label.active,
.form-element select:focus+label.active {
    color: $primary-color !important;
}
.form-element input:not([type=submit]):not([type=radio]):not([type=checkbox]):not([type=range]):not([type=file]):focus+label,
.form-element textarea:focus+label,
.form-element select:focus+label,
.form-element input:not([type=submit]):not([type=radio]):not([type=checkbox]):not([type=range]):not([type=file])+label.active,
.form-element textarea:focus+label.active,
.form-element textarea+label.active,
.form-element select:focus+label.active,
.form-element select+label.active {
    top: 8px;
    font-size: 10px;
}
// Override the previous active color
.form-element input:not([type=submit]):not([type=radio]):not([type=checkbox]):not([type=range]):not([type=file])+label.active,
.form-element textarea+label.active,
.form-element select+label.active {
    color: $label-color;
}
.select-label {
    pointer-events: none;
}
.select-icon {
    position: absolute;
    top: 50%;
    right: 17px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    margin-top: -6px;
    height: 8px;
    width: 8px;
    border-right: 1px solid $label-color;
    border-bottom: 1px solid $label-color;
    pointer-events: none;
    background: transparent;
}
.col.form-element .select-icon {
    right: $gutter-size / 2 + 17;
}

// TextArea
// ============================================================ //
.form-element textarea {
    padding: 24px 16px 16px;
    height: 112px;
    max-width: 100%;
    min-width: 100%;
    resize: none;
}
.no-js, .ie11 {
    .form-element textarea {
        resize: vertical !important;
    }
}

// Disabled styles
.form-element input:not([type=submit]):not([type=radio]):not([type=checkbox]):not([type=range]):not([type=file]):disabled,
.form-element textarea:disabled,
.form-element select:disabled {
    background-color: $light-grey;
    opacity: .4;
    cursor: not-allowed;
    &+label {
        opacity: .4;
        cursor: not-allowed;
    }
}
