// Key


// 1) Display
// ============================================================ //
@mixin display-flex() {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
@mixin display-inline-flex() {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}
.flex {@include display-flex();}
.inline-flex {@include display-inline-flex();}
@media #{$m-and-up} {
    .flex-m {@include display-flex();}
    .inline-flex-m {@include display-inline-flex();}
}
@media #{$l-and-up} {
    .flex-l {@include display-flex();}
    .inline-flex-l {@include display-inline-flex();}
}
@media #{$xl-and-up} {
    .flex-xl {@include display-flex();}
    .inline-flex-xl {@include display-inline-flex();}
}
@media #{$xxl-and-up} {
    .flex-xxl {@include display-flex();}
    .inline-flex-xxl {@include display-inline-flex();}
}




// 2) Direction
// ============================================================ //
@mixin flex-directions($orient, $classicDirection, $direction){
    -webkit-box-orient: $orient;
    -webkit-box-direction: $classicDirection;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
}
.row-normal {@include flex-directions(horizontal, normal, row);}
.row-reverse {@include flex-directions(horizontal, reverse, row-reverse);}
.column {@include flex-directions(vertical, normal, column);}
.column-reverse {@include flex-directions(vertical, normal, column-reverse);}
@media #{$m-and-up} {
    .row-normal-m {@include flex-directions(horizontal, normal, row);}
    .row-reverse-m {@include flex-directions(horizontal, reverse, row-reverse);}
    .column-m {@include flex-directions(vertical, normal, column);}
    .column-reverse-m {@include flex-directions(vertical, normal, column-reverse);}
}
@media #{$l-and-up} {
    .row-normal-l {@include flex-directions(horizontal, normal, row);}
    .row-reverse-l {@include flex-directions(horizontal, reverse, row-reverse);}
    .column-l {@include flex-directions(vertical, normal, column);}
    .column-reverse-l {@include flex-directions(vertical, normal, column-reverse);}
}
@media #{$xl-and-up} {
    .row-normal-xl {@include flex-directions(horizontal, normal, row);}
    .row-reverse-xl {@include flex-directions(horizontal, reverse, row-reverse);}
    .column-xl {@include flex-directions(vertical, normal, column);}
    .column-reverse-xl {@include flex-directions(vertical, normal, column-reverse);}
}
@media #{$xxl-and-up} {
    .row-normal-xxl {@include flex-directions(horizontal, normal, row);}
    .row-reverse-xxl {@include flex-directions(horizontal, reverse, row-reverse);}
    .column-xxl {@include flex-directions(vertical, normal, column);}
    .column-reverse-xxl {@include flex-directions(vertical, normal, column-reverse);}
}




// 3) Justify
// ============================================================ //
    // Start
@mixin flex-justify($value-1, $value-2){
    -ms-flex-pack: $value-1;
    justify-content: $value-2;
}
.justify-start {@include flex-justify(start, flex-start);}
.justify-end {@include flex-justify(end, flex-end);}
.justify-center {@include flex-justify(center, center);}
.justify-space-between {@include flex-justify(justify, space-between);}
.justify-space-around {@include flex-justify(distribute, space-around);}
@media #{$m-and-up} {
    .justify-start-m {@include flex-justify(start, flex-start);}
    .justify-end-m {@include flex-justify(end, flex-end);}
    .justify-center-m {@include flex-justify(center, center);}
    .justify-space-between-m {@include flex-justify(justify, space-between);}
    .justify-space-around-m {@include flex-justify(distribute, space-around);}
}
@media #{$l-and-up} {
    .justify-start-l {@include flex-justify(start, flex-start);}
    .justify-end-l {@include flex-justify(end, flex-end);}
    .justify-center-l {@include flex-justify(center, center);}
    .justify-space-between-l {@include flex-justify(justify, space-between);}
    .justify-space-around-l {@include flex-justify(distribute, space-around);}
}
@media #{$xl-and-up} {
    .justify-start-xl {@include flex-justify(start, flex-start);}
    .justify-end-xl {@include flex-justify(end, flex-end);}
    .justify-center-xl {@include flex-justify(center, center);}
    .justify-space-between-xl {@include flex-justify(justify, space-between);}
    .justify-space-around-xl {@include flex-justify(distribute, space-around);}
}
@media #{$xxl-and-up} {
    .justify-start-xxl {@include flex-justify(start, flex-start);}
    .justify-end-xxl {@include flex-justify(end, flex-end);}
    .justify-center-xxl {@include flex-justify(center, center);}
    .justify-space-between-xxl {@include flex-justify(justify, space-between);}
    .justify-space-around-xxl {@include flex-justify(distribute, space-around);}
}




// 4) Align
// ============================================================ //
    // Start
@mixin flex-align($value-1, $value-2){
    -ms-flex-align: $value-1;
    align-items: $value-2;
}
.align-start {@include flex-align(start, flex-start);}
.align-end {@include flex-align(end, flex-end);}
.align-center {@include flex-align(center, center);}
.align-baseline {@include flex-align(baseline, baseline);}
.align-stretch {@include flex-align(stretch, stretch);}
@media #{$m-and-up} {
    .align-start-m {@include flex-align(start, flex-start);}
    .align-end-m {@include flex-align(end, flex-end);}
    .align-center-m {@include flex-align(center, center);}
    .align-baseline-m {@include flex-align(baseline, baseline);}
    .align-stretch-m {@include flex-align(stretch, stretch);}
}
@media #{$l-and-up} {
    .align-start-l {@include flex-align(start, flex-start);}
    .align-end-l {@include flex-align(end, flex-end);}
    .align-center-l {@include flex-align(center, center);}
    .align-baseline-l {@include flex-align(baseline, baseline);}
    .align-stretch-l {@include flex-align(stretch, stretch);}
}
@media #{$xl-and-up} {
    .align-start-xl {@include flex-align(start, flex-start);}
    .align-end-xl {@include flex-align(end, flex-end);}
    .align-center-xl {@include flex-align(center, center);}
    .align-baseline-xl {@include flex-align(baseline, baseline);}
    .align-stretch-xl {@include flex-align(stretch, stretch);}
}
@media #{$xxl-and-up} {
    .align-start-xxl {@include flex-align(start, flex-start);}
    .align-end-xxl {@include flex-align(end, flex-end);}
    .align-center-xxl {@include flex-align(center, center);}
    .align-baseline-xxl {@include flex-align(baseline, baseline);}
    .align-stretch-xxl {@include flex-align(stretch, stretch);}
}




// 5) Align Self
// ============================================================ //
@mixin flex-align-self($value-1, $value-2){
    -ms-flex-item-align: $value-1;
    align-self: $value-2;
}
.align-self-start {@include flex-align-self(start, flex-start);}
.align-self-end {@include flex-align-self(end, flex-end);}
.align-self-center {@include flex-align-self(center, center);}
.align-self-baseline {@include flex-align-self(baseline, baseline);}
.align-self-stretch {@include flex-align-self(stretch, stretch);}
@media #{$m-and-up} {
    .align-self-start-m {@include flex-align-self(start, flex-start);}
    .align-self-end-m {@include flex-align-self(end, flex-end);}
    .align-self-center-m {@include flex-align-self(center, center);}
    .align-self-baseline-m {@include flex-align-self(baseline, baseline);}
    .align-self-stretch-m {@include flex-align-self(stretch, stretch);}
}
@media #{$l-and-up} {
    .align-self-start-l {@include flex-align-self(start, flex-start);}
    .align-self-end-l {@include flex-align-self(end, flex-end);}
    .align-self-center-l {@include flex-align-self(center, center);}
    .align-self-baseline-l {@include flex-align-self(baseline, baseline);}
    .align-self-stretch-l {@include flex-align-self(stretch, stretch);}
}
@media #{$xl-and-up} {
    .align-self-start-xl {@include flex-align-self(start, flex-start);}
    .align-self-end-xl {@include flex-align-self(end, flex-end);}
    .align-self-center-xl {@include flex-align-self(center, center);}
    .align-self-baseline-xl {@include flex-align-self(baseline, baseline);}
    .align-self-stretch-xl {@include flex-align-self(stretch, stretch);}
}
@media #{$xxl-and-up} {
    .align-self-start-xxl {@include flex-align-self(start, flex-start);}
    .align-self-end-xxl {@include flex-align-self(end, flex-end);}
    .align-self-center-xxl {@include flex-align-self(center, center);}
    .align-self-baseline-xxl {@include flex-align-self(baseline, baseline);}
    .align-self-stretch-xxl {@include flex-align-self(stretch, stretch);}
}




// 6) Fill
// ============================================================ //
@mixin flex-fill() {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.fill {@include flex-fill;}
@media #{$m-and-up} {
    .fill-m {@include flex-fill;}
}
@media #{$l-and-up} {
    .fill-l {@include flex-fill;}
}
@media #{$xl-and-up} {
    .fill-xl {@include flex-fill;}
}
@media #{$xxl-and-up} {
    .fill-xxl {@include flex-fill;}
}




// 7) Grow & Shrink
// ============================================================ //
.flex-grow {-ms-flex-positive: 1;flex-grow: 1;}
.flex-grow-initial {-ms-flex-positive: 0;flex-grow: 0;}
.flex-shrink {-ms-flex-negative: 1;flex-shrink: 1;}
.flex-shrink-initial {-ms-flex-negative: 0;flex-shrink: 0;}
@media #{$m-and-up} {
    .flex-grow-m {-ms-flex-positive: 1;flex-grow: 1;}
    .flex-grow-initial-m {-ms-flex-positive: 0;flex-grow: 0;}
    .flex-shrink-m {-ms-flex-negative: 1;flex-shrink: 1;}
    .flex-shrink-initial-m {-ms-flex-negative: 0;flex-shrink: 0;}
}
@media #{$l-and-up} {
    .flex-grow-l {-ms-flex-positive: 1;flex-grow: 1;}
    .flex-grow-initial-l {-ms-flex-positive: 0;flex-grow: 0;}
    .flex-shrink-l {-ms-flex-negative: 1;flex-shrink: 1;}
    .flex-shrink-initial-l {-ms-flex-negative: 0;flex-shrink: 0;}
}
@media #{$xl-and-up} {
    .flex-grow-xl {-ms-flex-positive: 1;flex-grow: 1;}
    .flex-grow-initial-xl {-ms-flex-positive: 0;flex-grow: 0;}
    .flex-shrink-xl {-ms-flex-negative: 1;flex-shrink: 1;}
    .flex-shrink-initial-xl {-ms-flex-negative: 0;flex-shrink: 0;}
}
@media #{$xxl-and-up} {
    .flex-grow-xxl {-ms-flex-positive: 1;flex-grow: 1;}
    .flex-grow-initial-xxl {-ms-flex-positive: 0;flex-grow: 0;}
    .flex-shrink-xxl {-ms-flex-negative: 1;flex-shrink: 1;}
    .flex-shrink-initial-xxl {-ms-flex-negative: 0;flex-shrink: 0;}
}




// 8) Auto Margins - don't use with 'justify-content' classes
// ============================================================ //
// See helper classes for margins
//      ml-auto and mr-auto
//      sets the elements to align to the right or left based upon the margins set. ml-auto aligns elements right etc..




// 9) With align-items
// ============================================================ //
// See helper classes for margins
//      mt-auto and mb-auto
//      sets the elements to align to the right or left based upon the margins set. mt-auto aligns elements bottom etc..




// 10) Wrap - ie 11 and up
// ============================================================ //
@mixin flex-wrap($wrap-type){
    -ms-flex-wrap: $wrap-type;
    flex-wrap: $wrap-type;
}
.wrap {@include flex-wrap(wrap);}
.wrap-none {@include flex-wrap(nowrap);}
.wrap-reverse {@include flex-wrap(wrap-reverse);}
@media #{$m-and-up} {
    .wrap-m {@include flex-wrap(wrap);}
    .wrap-none-m {@include flex-wrap(nowrap);}
    .wrap-reverse-m {@include flex-wrap(wrap-reverse);}
}
@media #{$l-and-up} {
    .wrap-l {@include flex-wrap(wrap);}
    .wrap-none-l {@include flex-wrap(nowrap);}
    .wrap-reverse-l {@include flex-wrap(wrap-reverse);}
}
@media #{$xl-and-up} {
    .wrap-xl {@include flex-wrap(wrap);}
    .wrap-none-xl {@include flex-wrap(nowrap);}
    .wrap-reverse-xl {@include flex-wrap(wrap-reverse);}
}
@media #{$xxl-and-up} {
    .wrap-xxl {@include flex-wrap(wrap);}
    .wrap-none-xxl {@include flex-wrap(nowrap);}
    .wrap-reverse-xxl {@include flex-wrap(wrap-reverse);}
}

// 11) Order
// ============================================================ //
$i: 0;
@while $i <= $num-cols {
    .order-#{$i} {
        -ms-flex-order: $i;
        order: $i;
    }
    $i: $i + 1;
}
@media #{$m-and-up} {
    $i: 0;
    @while $i <= $num-cols {
        .order-#{$i}-m {
            -ms-flex-order: $i;
            order: $i;
        }
        $i: $i + 1;
    }
}
@media #{$l-and-up} {
    $i: 0;
    @while $i <= $num-cols {
        .order-#{$i}-l {
            -ms-flex-order: $i;
            order: $i;
        }
        $i: $i + 1;
    }
}
@media #{$xl-and-up} {
    $i: 0;
    @while $i <= $num-cols {
        .order-#{$i}-xl {
            -ms-flex-order: $i;
            order: $i;
        }
        $i: $i + 1;
    }
}

@media #{$xxl-and-up} {
    $i: 0;
    @while $i <= $num-cols {
        .order-#{$i}-xxl {
            -ms-flex-order: $i;
            order: $i;
        }
        $i: $i + 1;
    }
}

// 12) Align content
// ============================================================ //
@mixin align-rows($value-1, $value-2) {
    -ms-flex-line-pack: $value-1;
    align-content: $value-2;
}
.align-content-start {@include align-rows(start, flex-start);}
.align-content-end {@include align-rows(end, flex-end);}
.align-content-center {@include align-rows(center, center)}
.align-content-between {@include align-rows(justify, space-between)}
.align-content-around {@include align-rows(distribute, space-around)}
.align-content-stretch {@include align-rows(stretch, stretch)}
@media #{$m-and-up} {
    .align-content-start-m {@include align-rows(start, flex-start);}
    .align-content-end-m {@include align-rows(end, flex-end);}
    .align-content-center-m {@include align-rows(center, center)}
    .align-content-between-m {@include align-rows(justify, space-between)}
    .align-content-around-m {@include align-rows(distribute, space-around)}
    .align-content-stretch-m {@include align-rows(stretch, stretch)}
}
@media #{$l-and-up} {
    .align-content-start-l {@include align-rows(start, flex-start);}
    .align-content-end-l {@include align-rows(end, flex-end);}
    .align-content-center-l {@include align-rows(center, center)}
    .align-content-between-l {@include align-rows(justify, space-between)}
    .align-content-around-l {@include align-rows(distribute, space-around)}
    .align-content-stretch-l {@include align-rows(stretch, stretch)}
}
@media #{$xl-and-up} {
    .align-content-start-xl {@include align-rows(start, flex-start);}
    .align-content-end-xl {@include align-rows(end, flex-end);}
    .align-content-center-xl {@include align-rows(center, center)}
    .align-content-between-xl {@include align-rows(justify, space-between)}
    .align-content-around-xl {@include align-rows(distribute, space-around)}
    .align-content-stretch-xl {@include align-rows(stretch, stretch)}
}
@media #{$xxl-and-up} {
    .align-content-start-xxl {@include align-rows(start, flex-start);}
    .align-content-end-xxl {@include align-rows(end, flex-end);}
    .align-content-center-xxl {@include align-rows(center, center)}
    .align-content-between-xxl {@include align-rows(justify, space-between)}
    .align-content-around-xxl {@include align-rows(distribute, space-around)}
    .align-content-stretch-xxl {@include align-rows(stretch, stretch)}
}


// Flex utility classes
@mixin content-center() {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.content-center {
    @include content-center;
}
@media #{$m-and-up} {
    .content-center-m {
        @include content-center;
    }
}
@media #{$l-and-up} {
    .content-center-l {
        @include content-center;
    }
}
@media #{$xl-and-up} {
    .content-center-xl {
        @include content-center;
    }
}
@media #{$xxl-and-up} {
    .content-center-xxl {
        @include content-center;
    }
}
