// Todo's
// - Add rounded button corners

// Overall button styles
// ============================================================ //
.btn, .btn:visited, .btn:focus {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    height: $btn-height;
    line-height: $btn-height;
    background-color: $primary-color;
    border: none;
    border-radius: $border-radius;
    color: $white;
    padding: $btn-padding;
    cursor: pointer;
    display: inline-block;
    min-width: 40px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    transition: $transition-speed;
    -webkit-transition: $transition-speed;

    // Disabled styles

    &.disabled,
    &:disabled,
    &[disabled] {
        background: $form-border-color !important;
        color: $label-color;
        opacity: .7;
        cursor: not-allowed;
        &:hover {
            color: $label-color;
            opacity: .7;
            cursor: not-allowed;
        }
    }

    // Large button styles

    &.btn-large {
        height: $btn-height + 18;
        line-height: $btn-height + 18;
        padding: $btn-large-padding;
    }

    // Small button styles

    &.btn-small {
        font-size: .875rem;
        height: $btn-height - 14;
        line-height: $btn-height - 14;
        padding: $btn-small-padding;
    }

    // Full width button styles

    &.full-width {
        display: block;
        width: 100%;
    }

    // Outline button styles

    &.btn-outline {
        background-color: transparent;
        background: transparent;
        color: $primary-color;
        border: 1px solid $primary-color;
        height: $btn-height;
        line-height: $btn-height - 2;
        &.btn-small {
            height: $btn-height - 14;
            line-height: $btn-height - 16;
        }
        &.btn-large {
            height: $btn-height + 20;
            line-height: $btn-height + 18;
        }
    }
}

// Hover state styles

.btn:hover {
    color: $white;
    background-color: $secondary-color;
}
.btn.btn-outline:hover {
    color: $secondary-color;
    border-color: $secondary-color;
    background-color: transparent;
}
