// Todo's
// - Add rounded button corners

// Overall button styles
// ============================================================ //
.btn, .btn:visited, .btn:focus {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    height: $btn-height;
    line-height: $btn-height;
    background-color: $black;
    border: none;
    border-radius: $border-radius * 10;
    color: $white;
    padding: $btn-padding;
    cursor: pointer;
    display: inline-block;
    min-width: 40px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    outline: none;
	position: relative;
	z-index: 1;
    -webkit-tap-highlight-color: transparent;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
    overflow: hidden;
	-webkit-transition: color $transition-speed-time ease;
	transition: color $transition-speed-time ease;

    // Light button variation
    &.btn-light {
        background-color: $white;
        color: $black;
    }

    // Psuedo elements
    &::before,
    &::after {
    	content: '';
        background: $primary-color;
        background-image: linear-gradient(-45deg, $primary-color 0%, $secondary-color 100%);
        background-image: -webkit-linear-gradient(-45deg, $primary-color 0%, $secondary-color 100%);
    	position: absolute;
    	height: 100%;
    	width: 100%;
    	bottom: 100%;
    	left: 0;
    	z-index: -1;
    	-webkit-transition: -webkit-transform 0.3s;
    	transition: transform 0.3s;
    	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }

    &::before {
        opacity: .5;
    }

    // Disabled styles

    &.disabled,
    &:disabled,
    &[disabled] {
        background: $form-border-color !important;
        color: $label-color;
        opacity: .7;
        cursor: not-allowed;
        &::before,
        &::after {
            display: none;
        }
        &:hover {
            color: $label-color;
            opacity: .7;
            cursor: not-allowed;
        }
    }

    // Large button styles

    &.btn-large {
        height: $btn-height + 18;
        line-height: $btn-height + 18;
        padding: $btn-large-padding;
    }

    // Small button styles

    &.btn-small {
        font-size: .875rem;
        height: $btn-height - 14;
        line-height: $btn-height - 14;
        padding: $btn-small-padding;
    }

    // Full width button styles

    &.full-width {
        display: block;
        width: 100%;
    }

    // Outline button styles

    &.btn-outline {
        background-color: transparent;
        background: transparent;
        color: $black;
        border: 1px solid $black;
        height: $btn-height;
        line-height: $btn-height - 2;
        &.btn-small {
            height: $btn-height - 14;
            line-height: $btn-height - 16;
        }
        &.btn-large {
            height: $btn-height + 20;
            line-height: $btn-height + 18;
        }
        &.btn-light {
            border-color: $white;
            color: $white;
        }
    }

    // Hover
    &:hover {
    	color: #fff;
    }
    &:hover::before,
    &:hover::after {
    	-webkit-transform: translate3d(0, 100%, 0);
    	transform: translate3d(0, 100%, 0);
    }
    &:hover::after {
    	-webkit-transition-delay: 0.175s;
    	transition-delay: 0.175s;
    }
    &.btn-outline:hover {
        color: $white;
        border-color: $primary-color;
        background-color: transparent;
    }
}
// .btn::before,
// .btn::after {
// 	content: '';
// 	position: absolute;
// 	height: 100%;
// 	width: 100%;
// 	bottom: 100%;
// 	left: 0;
// 	z-index: -1;
// 	-webkit-transition: -webkit-transform 0.3s;
// 	transition: transform 0.3s;
// 	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
// 	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
// }
// .btn::before {
// 	background: $secondary-color;
//     opacity: .5;
// }
// .btn::after {
// 	background: $secondary-color;
// }
// .btn:hover {
// 	color: #fff;
// }
// .btn:hover::before,
// .btn:hover::after {
// 	-webkit-transform: translate3d(0, 100%, 0);
// 	transform: translate3d(0, 100%, 0);
// }
// .btn:hover::after {
// 	-webkit-transition-delay: 0.175s;
// 	transition-delay: 0.175s;
// }
