// Key


// 1) Display
// ============================================================ //
@mixin display-flex() {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
@mixin display-inline-flex() {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}
.flex, .flex-s {@include display-flex();}
.inline-flex, .inline-flex-s {@include display-inline-flex();}
@media #{$m-and-up} {
    .flex-m {@include display-flex();}
    .inline-flex-m {@include display-inline-flex();}
}
@media #{$l-and-up} {
    .flex-l {@include display-flex();}
    .inline-flex-l {@include display-inline-flex();}
}
@media #{$xl-and-up} {
    .flex-xl {@include display-flex();}
    .inline-flex-xl {@include display-inline-flex();}
}
@media #{$xxl-and-up} {
    .flex-xxl {@include display-flex();}
    .inline-flex-xxl {@include display-inline-flex();}
}




// 2) Direction
// ============================================================ //
@mixin flex-directions($orient, $classicDirection, $direction){
    -webkit-box-orient: $orient;
    -webkit-box-direction: $classicDirection;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
}
.row-normal, .row-normal-s {@include flex-directions(horizontal, normal, row);}
.row-reverse, .row-reverse-s {@include flex-directions(horizontal, reverse, row-reverse);}
.column, .column-s {@include flex-directions(vertical, normal, column);}
.column-reverse, .column-reverse-s {@include flex-directions(vertical, normal, column-reverse);}
@media #{$m-and-up} {
    .row-normal-m {@include flex-directions(horizontal, normal, row);}
    .row-reverse-m {@include flex-directions(horizontal, reverse, row-reverse);}
    .column-m {@include flex-directions(vertical, normal, column);}
    .column-reverse-m {@include flex-directions(vertical, normal, column-reverse);}
}
@media #{$l-and-up} {
    .row-normal-l {@include flex-directions(horizontal, normal, row);}
    .row-reverse-l {@include flex-directions(horizontal, reverse, row-reverse);}
    .column-l {@include flex-directions(vertical, normal, column);}
    .column-reverse-l {@include flex-directions(vertical, normal, column-reverse);}
}
@media #{$xl-and-up} {
    .row-normal-xl {@include flex-directions(horizontal, normal, row);}
    .row-reverse-xl {@include flex-directions(horizontal, reverse, row-reverse);}
    .column-xl {@include flex-directions(vertical, normal, column);}
    .column-reverse-xl {@include flex-directions(vertical, normal, column-reverse);}
}
@media #{$xxl-and-up} {
    .row-normal-xxl {@include flex-directions(horizontal, normal, row);}
    .row-reverse-xxl {@include flex-directions(horizontal, reverse, row-reverse);}
    .column-xxl {@include flex-directions(vertical, normal, column);}
    .column-reverse-xxl {@include flex-directions(vertical, normal, column-reverse);}
}




// 3) Justify
// ============================================================ //
    // Start
@mixin flex-justify($value-1, $value-2){
    -ms-flex-pack: $value-1;
    justify-content: $value-2;
}
.content-x-left, .content-x-left-s {@include flex-justify(start, flex-start);}
.content-x-right, .content-x-right-s {@include flex-justify(end, flex-end);}
.content-x-center, .content-x-center-s {@include flex-justify(center, center);}
.content-x-space-between, .content-x-space-between-s {@include flex-justify(justify, space-between);}
.content-x-space-around, .content-x-space-around-s {@include flex-justify(distribute, space-around);}
@media #{$m-and-up} {
    .content-x-left-m {@include flex-justify(start, flex-start);}
    .content-x-right-m {@include flex-justify(end, flex-end);}
    .content-x-center-m {@include flex-justify(center, center);}
    .content-x-space-between-m {@include flex-justify(justify, space-between);}
    .content-x-space-around-m {@include flex-justify(distribute, space-around);}
}
@media #{$l-and-up} {
    .content-x-left-l {@include flex-justify(start, flex-start);}
    .content-x-right-l {@include flex-justify(end, flex-end);}
    .content-x-center-l {@include flex-justify(center, center);}
    .content-x-space-between-l {@include flex-justify(justify, space-between);}
    .content-x-space-around-l {@include flex-justify(distribute, space-around);}
}
@media #{$xl-and-up} {
    .content-x-left-xl {@include flex-justify(start, flex-start);}
    .content-x-right-xl {@include flex-justify(end, flex-end);}
    .content-x-center-xl {@include flex-justify(center, center);}
    .content-x-space-between-xl {@include flex-justify(justify, space-between);}
    .content-x-space-around-xl {@include flex-justify(distribute, space-around);}
}
@media #{$xxl-and-up} {
    .content-x-left-xxl {@include flex-justify(start, flex-start);}
    .content-x-right-xxl {@include flex-justify(end, flex-end);}
    .content-x-center-xxl {@include flex-justify(center, center);}
    .content-x-space-between-xxl {@include flex-justify(justify, space-between);}
    .content-x-space-around-xxl {@include flex-justify(distribute, space-around);}
}




// 4) Align
// ============================================================ //
    // Start
@mixin flex-align($value-1, $value-2){
    -ms-flex-align: $value-1;
    align-items: $value-2;
}
.content-y-top, .content-y-top-s {@include flex-align(start, flex-start);}
.content-y-bottom, .content-y-bottom-s {@include flex-align(end, flex-end);}
.content-y-center, .content-y-center-s {@include flex-align(center, center);}
.content-y-baseline, .content-y-baseline-s {@include flex-align(baseline, baseline);}
.content-y-stretch, .content-y-stretch-s {@include flex-align(stretch, stretch);}
@media #{$m-and-up} {
    .content-y-top-m {@include flex-align(start, flex-start);}
    .content-y-bottom-m {@include flex-align(end, flex-end);}
    .content-y-center-m {@include flex-align(center, center);}
    .content-y-baseline-m {@include flex-align(baseline, baseline);}
    .content-y-stretch-m {@include flex-align(stretch, stretch);}
}
@media #{$l-and-up} {
    .content-y-top-l {@include flex-align(start, flex-start);}
    .content-y-bottom-l {@include flex-align(end, flex-end);}
    .content-y-center-l {@include flex-align(center, center);}
    .content-y-baseline-l {@include flex-align(baseline, baseline);}
    .content-y-stretch-l {@include flex-align(stretch, stretch);}
}
@media #{$xl-and-up} {
    .content-y-top-xl {@include flex-align(start, flex-start);}
    .content-y-bottom-xl {@include flex-align(end, flex-end);}
    .content-y-center-xl {@include flex-align(center, center);}
    .content-y-baseline-xl {@include flex-align(baseline, baseline);}
    .content-y-stretch-xl {@include flex-align(stretch, stretch);}
}
@media #{$xxl-and-up} {
    .content-y-top-xxl {@include flex-align(start, flex-start);}
    .content-y-bottom-xxl {@include flex-align(end, flex-end);}
    .content-y-center-xxl {@include flex-align(center, center);}
    .content-y-baseline-xxl {@include flex-align(baseline, baseline);}
    .content-y-stretch-xxl {@include flex-align(stretch, stretch);}
}




// 5) Align Self
// ============================================================ //
@mixin flex-align-self($value-1, $value-2){
    -ms-flex-item-align: $value-1;
    align-self: $value-2;
}
.align-self-top, .align-self-top-s {@include flex-align-self(start, flex-start);}
.align-self-bottom, .align-self-bottom-s {@include flex-align-self(end, flex-end);}
.align-self-center, .align-self-center-s {@include flex-align-self(center, center);}
.align-self-baseline, .align-self-baseline-s {@include flex-align-self(baseline, baseline);}
.align-self-stretch, .align-self-stretch-s {@include flex-align-self(stretch, stretch);}
@media #{$m-and-up} {
    .align-self-top-m {@include flex-align-self(start, flex-start);}
    .align-self-bottom-m {@include flex-align-self(end, flex-end);}
    .align-self-center-m {@include flex-align-self(center, center);}
    .align-self-baseline-m {@include flex-align-self(baseline, baseline);}
    .align-self-stretch-m {@include flex-align-self(stretch, stretch);}
}
@media #{$l-and-up} {
    .align-self-top-l {@include flex-align-self(start, flex-start);}
    .align-self-bottom-l {@include flex-align-self(end, flex-end);}
    .align-self-center-l {@include flex-align-self(center, center);}
    .align-self-baseline-l {@include flex-align-self(baseline, baseline);}
    .align-self-stretch-l {@include flex-align-self(stretch, stretch);}
}
@media #{$xl-and-up} {
    .align-self-top-xl {@include flex-align-self(start, flex-start);}
    .align-self-bottom-xl {@include flex-align-self(end, flex-end);}
    .align-self-center-xl {@include flex-align-self(center, center);}
    .align-self-baseline-xl {@include flex-align-self(baseline, baseline);}
    .align-self-stretch-xl {@include flex-align-self(stretch, stretch);}
}
@media #{$xxl-and-up} {
    .align-self-top-xxl {@include flex-align-self(start, flex-start);}
    .align-self-bottom-xxl {@include flex-align-self(end, flex-end);}
    .align-self-center-xxl {@include flex-align-self(center, center);}
    .align-self-baseline-xxl {@include flex-align-self(baseline, baseline);}
    .align-self-stretch-xxl {@include flex-align-self(stretch, stretch);}
}




// 6) Fill
// ============================================================ //
@mixin flex-fill() {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.fill, .fill-s {@include flex-fill;}
@media #{$m-and-up} {
    .fill-m {@include flex-fill;}
}
@media #{$l-and-up} {
    .fill-l {@include flex-fill;}
}
@media #{$xl-and-up} {
    .fill-xl {@include flex-fill;}
}
@media #{$xxl-and-up} {
    .fill-xxl {@include flex-fill;}
}




// 7) Grow & Shrink
// ============================================================ //
.flex-grow, .flex-grow-s {-ms-flex-positive: 1;flex-grow: 1;}
.flex-grow-initial, .flex-grow-initial-s {-ms-flex-positive: 0;flex-grow: 0;}
.flex-shrink, .flex-shrink-s {-ms-flex-negative: 1;flex-shrink: 1;}
.flex-shrink-initial, .flex-shrink-initial-s {-ms-flex-negative: 0;flex-shrink: 0;}
@media #{$m-and-up} {
    .flex-grow-m {-ms-flex-positive: 1;flex-grow: 1;}
    .flex-grow-initial-m {-ms-flex-positive: 0;flex-grow: 0;}
    .flex-shrink-m {-ms-flex-negative: 1;flex-shrink: 1;}
    .flex-shrink-initial-m {-ms-flex-negative: 0;flex-shrink: 0;}
}
@media #{$l-and-up} {
    .flex-grow-l {-ms-flex-positive: 1;flex-grow: 1;}
    .flex-grow-initial-l {-ms-flex-positive: 0;flex-grow: 0;}
    .flex-shrink-l {-ms-flex-negative: 1;flex-shrink: 1;}
    .flex-shrink-initial-l {-ms-flex-negative: 0;flex-shrink: 0;}
}
@media #{$xl-and-up} {
    .flex-grow-xl {-ms-flex-positive: 1;flex-grow: 1;}
    .flex-grow-initial-xl {-ms-flex-positive: 0;flex-grow: 0;}
    .flex-shrink-xl {-ms-flex-negative: 1;flex-shrink: 1;}
    .flex-shrink-initial-xl {-ms-flex-negative: 0;flex-shrink: 0;}
}
@media #{$xxl-and-up} {
    .flex-grow-xxl {-ms-flex-positive: 1;flex-grow: 1;}
    .flex-grow-initial-xxl {-ms-flex-positive: 0;flex-grow: 0;}
    .flex-shrink-xxl {-ms-flex-negative: 1;flex-shrink: 1;}
    .flex-shrink-initial-xxl {-ms-flex-negative: 0;flex-shrink: 0;}
}




// 8) Auto Margins - don't use with 'justify-content' classes
// ============================================================ //
// See helper classes for margins
//      ml-auto and mr-auto
//      sets the elements to align to the right or left based upon the margins set. ml-auto aligns elements right etc..




// 9) With align-items
// ============================================================ //
// See helper classes for margins
//      mt-auto and mb-auto
//      sets the elements to align to the right or left based upon the margins set. mt-auto aligns elements bottom etc..




// 10) Wrap - ie 11 and up
// ============================================================ //
@mixin flex-wrap($wrap-type){
    -ms-flex-wrap: $wrap-type;
    flex-wrap: $wrap-type;
}
.wrap, .wrap-s {@include flex-wrap(wrap);}
.wrap-none, .wrap-none-s {@include flex-wrap(nowrap);}
.wrap-reverse, .wrap-reverse-s {@include flex-wrap(wrap-reverse);}
@media #{$m-and-up} {
    .wrap-m {@include flex-wrap(wrap);}
    .wrap-none-m {@include flex-wrap(nowrap);}
    .wrap-reverse-m {@include flex-wrap(wrap-reverse);}
}
@media #{$l-and-up} {
    .wrap-l {@include flex-wrap(wrap);}
    .wrap-none-l {@include flex-wrap(nowrap);}
    .wrap-reverse-l {@include flex-wrap(wrap-reverse);}
}
@media #{$xl-and-up} {
    .wrap-xl {@include flex-wrap(wrap);}
    .wrap-none-xl {@include flex-wrap(nowrap);}
    .wrap-reverse-xl {@include flex-wrap(wrap-reverse);}
}
@media #{$xxl-and-up} {
    .wrap-xxl {@include flex-wrap(wrap);}
    .wrap-none-xxl {@include flex-wrap(nowrap);}
    .wrap-reverse-xxl {@include flex-wrap(wrap-reverse);}
}

// 11) Order
// ============================================================ //
$i: 1;
@while $i <= $num-cols {
    .order-#{$i}, .order-#{$i}-s {
        -ms-flex-order: $i;
        order: $i;
    }
    $i: $i + 1;
}
@media #{$m-and-up} {
    $i: 1;
    @while $i <= $num-cols {
        .order-#{$i}-m {
            -ms-flex-order: $i;
            order: $i;
        }
        $i: $i + 1;
    }
}
@media #{$l-and-up} {
    $i: 1;
    @while $i <= $num-cols {
        .order-#{$i}-l {
            -ms-flex-order: $i;
            order: $i;
        }
        $i: $i + 1;
    }
}
@media #{$xl-and-up} {
    $i: 1;
    @while $i <= $num-cols {
        .order-#{$i}-xl {
            -ms-flex-order: $i;
            order: $i;
        }
        $i: $i + 1;
    }
}

@media #{$xxl-and-up} {
    $i: 1;
    @while $i <= $num-cols {
        .order-#{$i}-xxl {
            -ms-flex-order: $i;
            order: $i;
        }
        $i: $i + 1;
    }
}

// 12) Align content
// ============================================================ //
@mixin align-rows($value-1, $value-2) {
    -ms-flex-line-pack: $value-1;
    align-content: $value-2;
}
.align-rows-start, .align-rows-start-s {@include align-rows(start, flex-start);}
.align-rows-end, .align-rows-end-s {@include align-rows(end, flex-end);}
.align-rows-center, .align-rows-center-s {@include align-rows(center, center)}
.align-rows-between, .align-rows-between-s {@include align-rows(justify, space-between)}
.align-rows-around, .align-rows-around-s {@include align-rows(distribute, space-around)}
.align-rows-stretch, .align-rows-stretch-s {@include align-rows(stretch, stretch)}
@media #{$m-and-up} {
    .align-rows-start-m {@include align-rows(start, flex-start);}
    .align-rows-end-m {@include align-rows(end, flex-end);}
    .align-rows-center-m {@include align-rows(center, center)}
    .align-rows-between-m {@include align-rows(justify, space-between)}
    .align-rows-around-m {@include align-rows(distribute, space-around)}
    .align-rows-stretch-m {@include align-rows(stretch, stretch)}
}
@media #{$l-and-up} {
    .align-rows-start-l {@include align-rows(start, flex-start);}
    .align-rows-end-l {@include align-rows(end, flex-end);}
    .align-rows-center-l {@include align-rows(center, center)}
    .align-rows-between-l {@include align-rows(justify, space-between)}
    .align-rows-around-l {@include align-rows(distribute, space-around)}
    .align-rows-stretch-l {@include align-rows(stretch, stretch)}
}
@media #{$xl-and-up} {
    .align-rows-start-xl {@include align-rows(start, flex-start);}
    .align-rows-end-xl {@include align-rows(end, flex-end);}
    .align-rows-center-xl {@include align-rows(center, center)}
    .align-rows-between-xl {@include align-rows(justify, space-between)}
    .align-rows-around-xl {@include align-rows(distribute, space-around)}
    .align-rows-stretch-xl {@include align-rows(stretch, stretch)}
}
@media #{$xxl-and-up} {
    .align-rows-start-xxl {@include align-rows(start, flex-start);}
    .align-rows-end-xxl {@include align-rows(end, flex-end);}
    .align-rows-center-xxl {@include align-rows(center, center)}
    .align-rows-between-xxl {@include align-rows(justify, space-between)}
    .align-rows-around-xxl {@include align-rows(distribute, space-around)}
    .align-rows-stretch-xxl {@include align-rows(stretch, stretch)}
}


// Flex utility classes
@mixin content-center() {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.content-center, .content-center-s {
    @include content-center;
}
@media #{$m-and-up} {
    .content-center-m {
        @include content-center;
    }
}
@media #{$l-and-up} {
    .content-center-l {
        @include content-center;
    }
}
@media #{$xl-and-up} {
    .content-center-xl {
        @include content-center;
    }
}
@media #{$xxl-and-up} {
    .content-center-xxl {
        @include content-center;
    }
}
