// Form element container
.form-element {
    position: relative;
    margin-bottom: 1rem;
}
.helper-text {
    font-size: .625rem;
    font-weight: 300;
    color: $label-color;
    display: block;
    padding-top: 4px;
    padding-left: 2px;
}

// Text Input
// ============================================================ //
.form-element input[type=text],
.form-element input[type=email],
.form-element input[type=password],
.form-element input[type=url],
.form-element input[type=number],
.form-element input[type=date],
.form-element input[type=datetime],
.form-element input[type=datetime-local],
.form-element input[type=number],
.form-element input[type=time],
.form-element input[type=tel],
.form-element textarea,
.form-element select {
    font-size: inherit;
    font-weight: 400;
    font-family: $font-stack;
    color: $font-color;
    line-height: 1.4em;
    height: 56px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 18px 16px 0;
    text-align: left;
    border: 1px solid $form-border-color;
    border-radius: $form-border-radius;
    background: $form-element-bg;
    background-clip: padding-box;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: $transition-speed-fast;
    -webkit-transition: $transition-speed-fast;
}
select::-ms-expand {
    display: none;
}

// label - non-active
.form-element input[type=text]+label,
.form-element input[type=email]+label,
.form-element input[type=password]+label,
.form-element input[type=url]+label,
.form-element input[type=number]+label,
.form-element input[type=date]+label,
.form-element input[type=datetime]+label,
.form-element input[type=datetime-local]+label,
.form-element input[type=number]+label,
.form-element input[type=time]+label,
.form-element input[type=tel]+label,
.form-element textarea+label,
.form-element select+label {
    position: absolute;
    top: 16px;
    left: 17px;
    font-weight: 300;
    color: $label-color;
    transition: $transition-speed-fast;
    -webkit-transition: $transition-speed-fast;
    appearance: none;
}
.col {
    .form-element input[type=text]+label,
    .form-element input[type=email]+label,
    .form-element input[type=password]+label,
    .form-element input[type=url]+label,
    .form-element input[type=number]+label,
    .form-element input[type=date]+label,
    .form-element input[type=datetime]+label,
    .form-element input[type=datetime-local]+label,
    .form-element input[type=number]+label,
    .form-element input[type=time]+label,
    .form-element input[type=tel]+label,
    .form-element textarea+label,
    .form-element select+label {
        left: 25px;
    }
}
.no-js .form-element label {
    top: 8px;
    font-size: 12px;
    color: $label-color;
}

// Active states
.form-element input[type=text]:focus,
.form-element input[type=email]:focus,
.form-element input[type=password]:focus,
.form-element input[type=url]:focus,
.form-element input[type=number]:focus,
.form-element input[type=date]:focus,
.form-element input[type=datetime]:focus,
.form-element input[type=datetime-local]:focus,
.form-element input[type=number]:focus,
.form-element input[type=time]:focus,
.form-element input[type=tel]:focus,
.form-element textarea:focus,
.form-element select:focus {
    border-color: $primary-color;
}
.form-element input[type=text]:focus+label,
.form-element input[type=email]:focus+label,
.form-element input[type=password]:focus+label,
.form-element input[type=url]:focus+label,
.form-element input[type=number]:focus+label,
.form-element input[type=date]:focus+label,
.form-element input[type=datetime]:focus+label,
.form-element input[type=datetime-local]:focus+label,
.form-element input[type=number]:focus+label,
.form-element input[type=time]:focus+label,
.form-element input[type=tel]:focus+label,
.form-element textarea:focus+label,
.form-element input[type=text]+label.active,
.form-element input[type=email]+label.active,
.form-element input[type=password]+label.active,
.form-element input[type=url]+label.active,
.form-element input[type=number]+label.active,
.form-element input[type=date]+label.active,
.form-element input[type=datetime]+label.active,
.form-element input[type=datetime-local]+label.active,
.form-element input[type=number]+label.active,
.form-element input[type=time]+label.active,
.form-element input[type=tel]+label.active,
.form-element textarea:focus+label.active,
.form-element textarea+label.active,
.form-element select:focus+label.active,
.form-element select+label.active {
    top: 8px;
    font-size: 10px;
    color: $primary-color;
}
// Override the previous active color
.form-element input[type=text]+label.active,
.form-element input[type=email]+label.active,
.form-element input[type=password]+label.active,
.form-element input[type=url]+label.active,
.form-element input[type=number]+label.active,
.form-element input[type=date]+label.active,
.form-element input[type=datetime]+label.active,
.form-element input[type=datetime-local]+label.active,
.form-element input[type=number]+label.active,
.form-element input[type=time]+label.active,
.form-element input[type=tel]+label.active,
.form-element textarea+label.active,
.form-element select+label.active {
    color: $label-color;
}
.select-label {
    pointer-events: none;
}

// TextArea
// ============================================================ //
.form-element textarea {
    padding: 24px 16px 16px;
    height: 112px;
    max-width: 100%;
    min-width: 100%;
    resize: none;
}
.no-js {
    .form-element textarea {
        resize: vertical;
    }
}

// Check box / Radio elements
// ============================================================ //
// hide original input elements
.origamiCheckbox, .origamiRadio {
    position: relative;
    padding-left: 2rem;
    line-height: 24px;
    font-weight: 300;
    color: $label-color;
    margin-right: 1rem;
    font-size: inherit;
    input {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        top: 0;
        left: 0;
    }
}

// Checkboxes
.origamiCheckbox:before, .origamiCheckbox span:before, .origamiRadio:before, .origamiRadio span:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: $form-border-radius / 2;
    background-color: $form-border-color;
    cursor: pointer;
    transition: $transition-speed-fast;
    -webkit-transition: $transition-speed-fast;
}
.origamiCheckbox span:before, .origamiRadio span:before {
    background: $primary-color;
    background: $primary-gradient;
    background: -webkit-#{$primary-gradient};
    opacity: 0;
}
.origamiCheckbox span:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 8px;
    border-right: 2px solid $white;
    border-bottom: 2px solid $white;
    top: 7px;
    left: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    cursor: pointer;
    transition: $transition-speed;
    -webkit-transition: $transition-speed;
    opacity: 0;
}

// Active styles
.origamiCheckbox input[type=checkbox]:checked + span:before, .origamiCheckbox input[type=checkbox]:checked + span:after, .origamiRadio input[type=radio]:checked + span:before, .origamiRadio input[type=radio]:checked + span:after {
    opacity: 1;
}

// Disabled styles
.origamiCheckbox input[type=checkbox]:disabled + span, .origamiRadio input[type=radio]:disabled + span {
    opacity: .5;
    cursor: not-allowed;
    &:before {
        opacity: 1;
        background: #f4f5f5;
    }
}

// Radio buttons
.origamiRadio:before, .origamiRadio span:before {
    border-radius: 50%;
}
.origamiRadio span:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    top: 10px;
    left: 6px;
    background-color: $white;
    transition: $transition-speed;
    -webkit-transition: $transition-speed;
    cursor: pointer;
    opacity: 0;
    border-radius: 50%;
}
// Active styles
    // See checkbox active.

// Disabled styles
    // See checkbox disabled.


// Switches
.origamiSwitch {
    position: relative;
    line-height: 24px;
    font-weight: 300;
    color: $label-color;
    -moz-appearance: none;
    appearance: none;
    input {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        top: 0;
        left: 0;
    }
}
.origamiSwitch span.lever {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    margin: 0 .5rem;
    background-color: $form-border-color;
    height: 24px;
    width: 42px;
    border-radius: 1rem;
    cursor: pointer;
    &:before {
        content: '';
        height: 24px;
        width: 42px;
        border-radius: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        background: $primary-color;
        background: $primary-gradient;
        background: -webkit-#{$primary-gradient};
        opacity: 0;
        transition: $transition-speed-fast;
        -webkit-transition: $transition-speed-fast;
    }
    &:after {
        content: '';
        height: 22px;
        width: 22px;
        border-radius: 1rem;
        position: absolute;
        top: 1px;
        left: 1px;
        background: $white;
        transition: $transition-speed-fast;
        -webkit-transition: $transition-speed-fast;
    }
}

// Active styles
.origamiSwitch input[type=checkbox]:checked + span:before {
    opacity: 1;
}
.origamiSwitch input[type=checkbox]:checked + span:after {
    left: 19px;
}


// Range inputs
// ============================================================ //
input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #000000;
    background: $form-border-color;
    border-radius: 6px;
    border: none;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #000000;
    border: 1px solid $form-border-color;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: $white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: $primary-color;
    background: $primary-gradient;
    background: -webkit-#{$primary-gradient};
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #000000;
    background: $form-border-color;
    border-radius: 6px;
    border: none;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #000000;
    border: 1px solid $form-border-color;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: $white;
    cursor: pointer;
}
// // // // // // //
input[type=range]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #ac51b5;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #ac51b5;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #65001c;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #ac51b5;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ac51b5;
}
