*, *:before, *:after {
    box-sizing: border-box !important;
}
html {
    width: 100%;
    overflow-x: hidden;
    body {
        overflow-x: hidden;
    }
}

button,
input,
optgroup,
select,
textarea {
    font-family: $font-stack;
}


// Links
a, a:visited {
    color: $primary-color;
    -webkit-tap-highlight-color: transparent;
    transition: $transition-speed;
}
a:hover, a:focus {
    color: $primary-accent-color;
}
a * {
    pointer-events: none;
}

//  Blockquote
blockquote {
    margin: 20px 0;
    padding: 1rem 1rem 1rem 1.5rem;
    border-left: 5px solid $primary-color;
    border-radius: $border-radius;
    background-color: $light-grey;
}


// Images

img,
video {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
