// CSS utlity classes / helpers
// ============================================================ //

.float-fix:after {
    content: '';
    display: table;
    clear: both;
}

// Text alignment utilities
// ============================================================ //
.text-right, .text-right-s {text-align: right;}
.text-left, .text-left-s {text-align: left;}
.text-center, .text-center-s {text-align: center;}
@media #{$m-and-up} {
    .text-right-m {text-align: right;}
    .text-left-m {text-align: left;}
    .text-center-m {text-align: center;}
}
@media #{$l-and-up} {
    .text-right-l {text-align: right;}
    .text-left-l {text-align: left;}
    .text-center-l {text-align: center;}
}
@media #{$xl-and-up} {
    .text-right-xl {text-align: right;}
    .text-left-xl {text-align: left;}
    .text-center-xl {text-align: center;}
}
@media #{$xxl-and-up} {
    .text-right-xxl {text-align: right;}
    .text-left-xxl {text-align: left;}
    .text-center-xxl {text-align: center;}
}

// Text size
.text-small {font-size: .75em;}
.text-large {font-size: 1.25em;}


// Display helpers
// ============================================================ //
.block {display: block;}
.inline-block {display: inline-block;}
.inline {display: inline;}


// Padding helpers
// ============================================================ //

$i: 0;
@while $i <= 5 {
    .p-#{$i}-s {padding: #{$i}rem !important;}
    .px-#{$i}-s {padding-left: #{$i}rem !important; padding-right: #{$i}rem !important;}
    .py-#{$i}-s {padding-top: #{$i}rem !important; padding-bottom: #{$i}rem !important;}
    .pt-#{$i}-s {padding-top: #{$i}rem !important;}
    .pr-#{$i}-s {padding-right: #{$i}rem !important;}
    .pb-#{$i}-s {padding-bottom: #{$i}rem !important;}
    .pl-#{$i}-s {padding-left: #{$i}rem !important;}
    $i: $i + 1;
}
@media #{$m-and-up} {
    $i: 0;
    @while $i <= 10 {
        .p-#{$i}-m {padding: #{$i}rem !important;}
        .px-#{$i}-m {padding-left: #{$i}rem !important; padding-right: #{$i}rem !important;}
        .py-#{$i}-m {padding-top: #{$i}rem !important; padding-bottom: #{$i}rem !important;}
        .pt-#{$i}-m {padding-top: #{$i}rem !important;}
        .pr-#{$i}-m {padding-right: #{$i}rem !important;}
        .pb-#{$i}-m {padding-bottom: #{$i}rem !important;}
        .pl-#{$i}-m {padding-left: #{$i}rem !important;}
        $i: $i + 1;
    }
}
@media #{$l-and-up} {
    $i: 0;
    @while $i <= 10 {
        .p-#{$i}-l {padding: #{$i}rem !important;}
        .px-#{$i}-l {padding-left: #{$i}rem !important; padding-right: #{$i}rem !important;}
        .py-#{$i}-l {padding-top: #{$i}rem !important; padding-bottom: #{$i}rem !important;}
        .pt-#{$i}-l {padding-top: #{$i}rem !important;}
        .pr-#{$i}-l {padding-right: #{$i}rem !important;}
        .pb-#{$i}-l {padding-bottom: #{$i}rem !important;}
        .pl-#{$i}-l {padding-left: #{$i}rem !important;}
        $i: $i + 1;
    }
}
@media #{$xl-and-up} {
    $i: 0;
    @while $i <= 10 {
        .p-#{$i}-xl {padding: #{$i}rem !important;}
        .px-#{$i}-xl {padding-left: #{$i}rem !important; padding-right: #{$i}rem !important;}
        .py-#{$i}-xl {padding-top: #{$i}rem !important; padding-bottom: #{$i}rem !important;}
        .pt-#{$i}-xl {padding-top: #{$i}rem !important;}
        .pr-#{$i}-xl {padding-right: #{$i}rem !important;}
        .pb-#{$i}-xl {padding-bottom: #{$i}rem !important;}
        .pl-#{$i}-xl {padding-left: #{$i}rem !important;}
        $i: $i + 1;
    }
}
@media #{$xxl-and-up} {
    $i: 0;
    @while $i <= 10 {
        .p-#{$i}-xxl {padding: #{$i}rem !important;}
        .px-#{$i}-xxl {padding-left: #{$i}rem !important; padding-right: #{$i}rem !important;}
        .py-#{$i}-xxl {padding-top: #{$i}rem !important; padding-bottom: #{$i}rem !important;}
        .pt-#{$i}-xxl {padding-top: #{$i}rem !important;}
        .pr-#{$i}-xxl {padding-right: #{$i}rem !important;}
        .pb-#{$i}-xxl {padding-bottom: #{$i}rem !important;}
        .pl-#{$i}-xxl {padding-left: #{$i}rem !important;}
        $i: $i + 1;
    }
}

// Margin helpers
// ============================================================ //

.ml-auto, .ml-auto-s {margin-left: auto !important;}
.mr-auto, .mr-auto-s {margin-right: auto !important;}
$i: 0;
@while $i <= 5 {
    .m-#{$i}-s {margin: #{$i}rem !important;}
    .mx-#{$i}-s {margin-left: #{$i}rem !important; margin-right: #{$i}rem !important;}
    .my-#{$i}-s {margin-top: #{$i}rem !important; margin-bottom: #{$i}rem !important;}
    .mt-#{$i}-s {margin-top: #{$i}rem !important;}
    .mr-#{$i}-s {margin-right: #{$i}rem !important;}
    .mb-#{$i}-s {margin-bottom: #{$i}rem !important;}
    .ml-#{$i}-s {margin-left: #{$i}rem !important;}
    $i: $i + 1;
}
@media #{$m-and-up} {
    .ml-auto-m {margin-left: auto !important;}
    .mr-auto-m {margin-right: auto !important;}
    $i: 0;
    @while $i <= 5 {
        .m-#{$i}-m {margin: #{$i}rem !important;}
        .mx-#{$i}-m {margin-left: #{$i}rem !important; margin-right: #{$i}rem !important;}
        .my-#{$i}-m {margin-top: #{$i}rem !important; margin-bottom: #{$i}rem !important;}
        .mt-#{$i}-m {margin-top: #{$i}rem !important;}
        .mr-#{$i}-m {margin-right: #{$i}rem !important;}
        .mb-#{$i}-m {margin-bottom: #{$i}rem !important;}
        .ml-#{$i}-m {margin-left: #{$i}rem !important;}
        $i: $i + 1;
    }
}
@media #{$l-and-up} {
    .ml-auto-l {margin-left: auto !important;}
    .mr-auto-l {margin-right: auto !important;}
    $i: 0;
    @while $i <= 5 {
        .m-#{$i}-l {margin: #{$i}rem !important;}
        .mx-#{$i}-l {margin-left: #{$i}rem !important; margin-right: #{$i}rem !important;}
        .my-#{$i}-l {margin-top: #{$i}rem !important; margin-bottom: #{$i}rem !important;}
        .mt-#{$i}-l {margin-top: #{$i}rem !important;}
        .mr-#{$i}-l {margin-right: #{$i}rem !important;}
        .mb-#{$i}-l {margin-bottom: #{$i}rem !important;}
        .ml-#{$i}-l {margin-left: #{$i}rem !important;}
        $i: $i + 1;
    }
}
@media #{$xl-and-up} {
    .ml-auto-xl {margin-left: auto !important;}
    .mr-auto-xl {margin-right: auto !important;}
    $i: 0;
    @while $i <= 5 {
        .m-#{$i}-xl {margin: #{$i}rem !important;}
        .mx-#{$i}-xl {margin-left: #{$i}rem !important; margin-right: #{$i}rem !important;}
        .my-#{$i}-xl {margin-top: #{$i}rem !important; margin-bottom: #{$i}rem !important;}
        .mt-#{$i}-xl {margin-top: #{$i}rem !important;}
        .mr-#{$i}-xl {margin-right: #{$i}rem !important;}
        .mb-#{$i}-xl {margin-bottom: #{$i}rem !important;}
        .ml-#{$i}-xl {margin-left: #{$i}rem !important;}
        $i: $i + 1;
    }
}
@media #{$xxl-and-up} {
    .ml-auto-xxl {margin-left: auto !important;}
    .mr-auto-xxl {margin-right: auto !important;}
    $i: 0;
    @while $i <= 5 {
        .m-#{$i}-xxl {margin: #{$i}rem !important;}
        .mx-#{$i}-xxl {margin-left: #{$i}rem !important; margin-right: #{$i}rem !important;}
        .my-#{$i}-xxl {margin-top: #{$i}rem !important; margin-bottom: #{$i}rem !important;}
        .mt-#{$i}-xxl {margin-top: #{$i}rem !important;}
        .mr-#{$i}-xxl {margin-right: #{$i}rem !important;}
        .mb-#{$i}-xxl {margin-bottom: #{$i}rem !important;}
        .ml-#{$i}-xxl {margin-left: #{$i}rem !important;}
        $i: $i + 1;
    }
}


// Shadow
// ============================================================ //
.depth-0, .hover-depth-0:hover {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.depth-1, .hover-depth-1:hover {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.depth-2, .hover-depth-2:hover {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.depth-3, .hover-depth-3:hover {
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}
.depth-4, .hover-depth-4:hover {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}
.depth-5, .hover-depth-5:hover {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}


// Truncate
// ============================================================ //
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


// Hide
// ============================================================ //
.hide {display: none !important;}
@media #{$s-and-down} {
    .hide-s-down {display: none !important;}
}
@media #{$m-and-down} {
    .hide-m-down {display: none !important;}
}
@media #{$l-and-down} {
    .hide-l-down {display: none !important;}
}
@media #{$xl-and-down} {
    .hide-xl-down {display: none !important;}
}
@media #{$m-and-up} {
    .hide-m-up {display: none !important;}
}
@media #{$l-and-up} {
    .hide-l-up {display: none !important;}
}
@media #{$xl-and-up} {
    .hide-xl-up {display: none !important;}
}
@media #{$xxl-and-up} {
    .hide-xxl-up {display: none !important;}
}
