@keyframes scrollwheel {
    0% {
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
    }
    80% {
        transform: translate(-50%, 6px);
        -webkit-transform: translate(-50%, 6px);
    }
    100% {
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
    }
}

.mouse {
    position: absolute;
    display: block;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid $white;

    .mouse-wheel {
        position: absolute;
        display: block;
        width: 2px;
        height: 6px;
        border-radius: 10px;
        background-color: $white;
        top: 8px;
        left: 50%;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        animation: scrollwheel 2s infinite;
        -webkit-animation: scrollwheel 2s infinite;
    }

    &.mouse-dark {
        border: 1px solid $black;

        .mouse-wheel {
            background-color: $black;
        }
    }

    &.bottom-left {
        bottom: 20px;
        left: 20px;
    }

    &.bottom-center {
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
    }

    &.bottom-right {
        bottom: 20px;
        right: 20px;
    }
}
