// Mobile Navbar
// ============================================================ //
.mobile-navbar {
    position: relative;
    display: flex;
    width: 100%;
    height: 56px;
    padding: 0 calc(5% - 17px) 0 5%;
    background-color: $nav-bg-color;
    background-image: #{$nav-bg-gradient};
    background-image: -webkit-#{$nav-bg-gradient};

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 19;
    }

    .mobile-link {
        display: block;
        position: relative;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 56px;
        height: 56px;
    }

    @media #{$l-and-up} {
        display: none;
    }
}

.mobile-logo, .mobile-logo:visited, .mobile-logo:focus, .mobile-logo:hover {
    display: block;
    max-height: 56px;
    height: 56px;
    padding: 15px 0;
    color: $nav-font-color;
    -ms-flex-item-align: center;
    align-self: center;

    * {
        display: block;
        max-height: 26px;
    }

}

// Nav Toggle - Used in both mobile navbar and off canvas nav

.nav-toggle {
    display: block;
    position: relative;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 56px;
    height: 56px;

    .toggle-bar {
        position: absolute;
        top: 21px;
        right: 17px;
        width: 22px;
        height: 2px;
        background-color: $nav-font-color;
        margin-bottom: 2px;
        transition: $transition-speed-time;

        &:nth-child(2) {
            top: 25px;
            width: 14px;
        }
        &:nth-child(3) {
            top: 29px;
            width: 18px;
        }
        &:last-child {
            top: 33px;
            width: 12px;
            margin-bottom: 0;
        }
    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    &.nav-active {
        .toggle-bar, .toggle-bar:nth-child(2) {
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%) rotate(-225deg);
            -webkit-transform: translate(50%, -50%) rotate(-225deg);
            width: 16px;
        }
        .toggle-bar:nth-child(3), .toggle-bar:last-child {
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%) rotate(225deg);
            -webkit-transform: translate(50%, -50%) rotate(225deg);
            width: 16px;
        }
    }
}

// Primary Navbar
// ============================================================ //
.navbar {

    // Mobile Styles
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 106px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 20;
    background-color: $nav-bg-color;
    background-image: #{$nav-bg-gradient};
    background-image: -webkit-#{$nav-bg-gradient};
    visibility: hidden;
    opacity: 0;
    transition: opacity $transition-speed-time ease, visibility $transition-speed-time ease $transition-speed-time;

    .navbar-logo {
        display: none;
    }

    .container {
        position: relative;
        width: inherit;
        max-width: inherit;
    }

    .nav, ul {

        list-style: none;
        padding: 0;
        margin: 0;
        perspective: 1000px;
        -webkit-perspective: 1000px;

        li {

            position: relative;
            opacity: 0;
            filter: blur(5px);
            -webkit-filter: blur(5px);
            transform-origin: 0 0;
            -webkit-transform-origin:  0 0;
            transform: translate(4rem) rotatey(45deg);
            -webkit-transform: translate(4rem) rotatey(45deg);
            transition: all #{$nav-transition-speed-time * 1.5}s ease;
            -webkit-transition: all #{$nav-transition-speed-time * 1.5}s ease;

            $i: 2;
            $delay: .09;
            @while $i <= 10 {
                &:nth-child(#{$i}) {
                    transition-delay: #{$delay}s;
                    -webkit-transition-delay: #{$delay}s;
                }

                $i: $i + 1;
                $delay: $delay + .09;
            }

            &.nav-spacer {
                height: 32px;
            }

            &.text-small {
                a, a:visited, a:focus {
                    font-size: $nav-font-size;
                }
            }

        }

        a:not(.btn), a:not(.btn):visited, a:not(.btn):focus {
            font-size: $nav-font-size;
            color: $nav-font-color;
        }

    }

    .nav {

        a:not(.btn), a:not(.btn):visited, a:not(.btn):focus {
            font-size: $nav-font-size * 2;
        }

    }

    &.nav-active {
        visibility: visible;
        opacity: 1;
        transition: opacity #{$nav-transition-speed-time}s ease, visibility #{$nav-transition-speed-time}s ease;

        .nav, ul {
            li {
                opacity: 1;
                filter: blur(0);
                -webkit-filter: blur(0);
                transform: none;
                -webkit-transform: none;
            }
        }

    }

    .nav-toggle {
        position: absolute;
        top: 0;
        right: calc(5% - 17px);
    }



    // Desktop Styles
    @media #{$l-and-up} {

        position: relative;
        display: flex;
        height: 5rem;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        height: 5rem;
        padding: 0 2rem;
        overflow: visible;
        z-index: 20;
        visibility: visible;
        opacity: 1;
        transition: all 0 ease 0;

        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
        }

        .navbar-logo, .navbar-logo:visited, .navbar-logo:focus, .navbar-logo:hover {
            display: block;
            padding: 1.5rem 0;
            height: 5rem;
            color: $nav-font-color;

            * {
                display: block;
                max-height: 2rem;
            }

        }

        .container {
            display: flex;
            position: relative;
            padding: 0;
            width: 85%;
            max-width: $container;
            height: 5rem;
            -ms-flex-align: center;
            align-items: center;

            &.s {
                max-width: $container-s;
            }
            &.m {
                max-width: $container-m;
            }
            &.xl {
                max-width: $container-xl;
            }
            &.xxl {
                max-width: $container-xxl;
            }
        }

        .nav, ul {

            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;

            li {

                position: relative;
                opacity: 1;
                -ms-flex-item-align: center;
                align-self: center;
                filter: blur(0);
                -webkit-filter: blur(0);
                transform-origin: 50% 50%;
                -webkit-transform-origin:  50% 50%;
                transform: none;
                -webkit-transform: none;
                transition: all 0 ease;
                -webkit-transition: all 0 ease;

                &.nav-spacer {
                    -ms-flex-item-align: center;
                    align-self: center;
                    height: auto;
                    width: 32px;
                }

            }

            a:not(.btn), a:not(.btn):visited, a:not(.btn):focus {
                font-size: $nav-font-size;
                padding: 0 .75rem;
                display: block;
            }

        }

        .nav-toggle {
            display: none;
        }

    }

}
