@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');

html {
    font-size: .875rem;
    font-family: $font-stack;
    font-weight: 400;
    line-height: 1.4;
    color: $font-color;
    @media #{$l-and-up} {
        font-size: 1rem;
    }
}


//Links
a {
    text-decoration: none;
}

// Headings
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	line-height: 1.3;
    margin-top: 0;
    margin-bottom: 1.5rem;
    .heading-accent {
        font-size: 1rem;
        line-height: 1.5;
        display: block;
    }
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
}
h1 {
    font-size: $h1-fontsize-mobile;
    line-height: 110%;
    @media #{$l-and-up} {
        font-size: $h1-fontsize;
        .heading-accent {
            font-size: $h1-fontsize / 2.5;
        }
    }
}
h2 {
    font-size: $h2-fontsize-mobile;
    line-height: 110%;
    @media #{$l-and-up} {
        font-size: $h2-fontsize;
        .heading-accent {
            font-size: 1.5rem;
        }
    }
}
h3 {
    font-size: $h3-fontsize-mobile;
    line-height: 110%;
    @media #{$l-and-up} {
        font-size: $h3-fontsize;
        .heading-accent {
            font-size: 1.5rem;
        }
    }
}
h4 {
    font-size: $h4-fontsize-mobile;
    line-height: 110%;
    @media #{$l-and-up} {
        font-size: $h4-fontsize;
        .heading-accent {
            font-size: 1.5rem;
        }
    }
}
h5 {
    font-size: $h5-fontsize-mobile;
    line-height: 110%;
    @media #{$l-and-up} {
        font-size: $h5-fontsize;
    }
}
h6 {
    font-size: $h6-fontsize-mobile;
    line-height: 110%;
    @media #{$l-and-up} {
        font-size: $h6-fontsize;
    }
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.3;
}

// Text styles
.italic {
    font-style: italic;
}
.bold, strong {
    font-weight: 700;
}
.normal {
    font-weight: normal;
}
.light {
    font-weight: 300;
}
.text-white {
    color: $white;
}
