// Index
// ============================================================ //

// 1) Globals
//      - Grid
//      - Columns
// 2) Fonts


// 1) Globals
// ============================================================ //

    // Media Queries
    $mobile-screen: 599.98px !default;
    $tablet-screen-down: 991.98px !default;
    $desktop-screen-down: 1279.98px !default;
    $desktop-large-screen-down: 1599.98px !default;
    $mobile-landscape-screen-up: 600px !default;
    $tablet-landscape-screen-up: 992px !default;
    $desktop-screen-up: 1280px !default;
    $desktop-large-screen-up: 1600px !default;

    $s-and-down: "only screen and (max-width : #{$mobile-screen})" !default;
    $m-and-down: "only screen and (max-width : #{$tablet-screen-down})" !default;
    $l-and-down: "only screen and (max-width : #{$desktop-screen-down})" !default;
    $xl-and-down: "only screen and (max-width : #{$desktop-large-screen-down})" !default;
    $m-and-up: "only screen and (min-width : #{$mobile-landscape-screen-up})" !default;
    $l-and-up: "only screen and (min-width : #{$tablet-landscape-screen-up})" !default;
    $xl-and-up: "only screen and (min-width : #{$desktop-screen-up})" !default;
    $xxl-and-up: "only screen and (min-width : #{$desktop-large-screen-up})" !default;

    // Container max widths
    $container: 1080px;
    $container-s: 600px;
    $container-m: 800px;
    $container-xl: 1280px;
    $container-xxl: 1600px;

    // Columns
    $num-cols: 12 !default;
    $gutter-size: 20px !default;

    // Transitions
    $transition-speed: all 0.4s ease;
    $transition-speed-fast: all 0.2s ease;
    $transition-speed-time: 0.4s;
    $transition-speed-fast-time: 0.2s;

    // Design Patterns
    $border-radius: .5rem;


// 2) Fonts
// ============================================================ //

    // Font family
    $font-stack: "Roboto", Ubuntu, "Helvetica Neue", sans-serif !default;
    $font-color: #333;

    // Heading Styles
    $h1-fontsize-mobile: 2rem !default;
    $h2-fontsize-mobile: 1.75rem !default;
    $h3-fontsize-mobile: 1.5rem !default;
    $h4-fontsize-mobile: 1.25rem !default;
    $h5-fontsize-mobile: 1.2rem !default;
    $h6-fontsize-mobile: 1rem !default;
    $h1-fontsize: 3rem !default;
    $h2-fontsize: 2.75rem !default;
    $h3-fontsize: 2.5rem !default;
    $h4-fontsize: 2rem !default;
    $h5-fontsize: 1.75rem !default;
    $h6-fontsize: 1.25rem !default;

    // Heading Accents
    $heading-accent-mobile: .875rem !default;
    $heading-accent: 1.5rem !default;


// 3) Colors
// ============================================================ //

    // Default color scheme
    $primary-color: #3ca55c !default;
    $primary-accent-color: #308349 !default;
    $secondary-color: #b5ac49 !default;
    $secondary-accent-color: #a49b42 !default;

    // Quick colors
    $white: #FFFFFF;
    $black: #000000;
    $light-grey: #f2f2f2;
    $grey: #aaaaaa;
    $deep-grey: #2a2a2a;


// 4) Buttons
// ============================================================ //

    $btn-height: 42px !default;
    $btn-padding: 0 1.5rem !default;
    $btn-large-padding: 0 2.5rem !default;
    $btn-small-padding: 0 .75rem !default;


// 5) Forms
// ============================================================ //

    // Form colors
    $label-color: #8a8a8a;
    $form-element-bg: rgba(255,255,255,.8);
    $form-border-color: #d6d6d6;

    // Form Styles

// 6) Navbars
// ============================================================ //

    // Text colors
    $nav-bg-color: #000000;
    $nav-bg-secondary-color: #0a0a0a;
    $nav-bg-gradient: linear-gradient(45deg, $nav-bg-color, $nav-bg-secondary-color);
    $nav-font-color: rgba(255,255,255,.6);
    $nav-font-size: .875rem;
    $nav-transition-speed-time: 0.4;
