// BG Colors
// ============================================================ //

.white-bg {
    background-color: $white;
}
.light-grey-bg {
    background-color: $light-grey;
}
.grey-bg {
    background-color: $grey;
}
.black-bg {
    background-color: $black;
}
.primary-bg {
    background-color: $primary-color;
}
